.fade-slide-up- {
  &enter {
    transform: translateY(-10px);
    opacity: 0;
  }
  &enter-active,
  &leave-active {
    transition: all 0.3s ease-out;
  }

  &leave-to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.animate-up- {
  &enter {
    transform: translateY(10px);
    opacity: 0;
  }
  &enter-active,
  &leave-active {
    transition: all 0.3s ease-out;
  }

  &leave-to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.fade-slide-left- {
  &enter {
    transform: translateX(30px);
    opacity: 0;
  }
  &enter-active,
  &leave-active {
    transition: all 0.4s ease-out;
  }

  &leave-to {
    opacity: 0;
    transform: translateX(30px);
  }
}

.fade- {
  &enter {
    opacity: 0;
  }
  &enter-active,
  &leave-active {
    transition: all 0.3s ease-out;
  }

  &leave-to {
    opacity: 0;
  }
}
