@function pxToRem($px) {
  @return #{$px/16}rem;
}

@for $i from 0 through 100 {
  .opacity-#{$i} {
    opacity: #{$i/100} !important;
  }
}


$weights: (300, 400, 500, 600, 700);

@each $weight in $weights {
  .font-weight-#{$weight} {
    font-weight: #{$weight} !important;
  }
}

@for $i from 10 through 50 {
  .text-size-#{$i} {
    font-size: #{$i/16}rem !important;
  }
  .line-height-#{$i} {
    line-height: #{$i/16}rem !important;
  }
}
