.input-control {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: $dark;
  vertical-align: middle;
  background-color: white;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid $borderColor;
  border-radius: 6px;
  outline: none;
  display: block;
  width: 100%;
}
